@charset "UTF-8";

@font-face {
  font-family: "qodra-icons";
  src:url("fonts/qodra-icons.eot");
  src:url("fonts/qodra-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/qodra-icons.woff") format("woff"),
    url("fonts/qodra-icons.ttf") format("truetype"),
    url("fonts/qodra-icons.svg#qodra-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "qodra-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "qodra-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-white:before {
  content: "a";
}
.icon-comment-white:before {
  content: "d";
}
.icon-left-mini:before {
  content: "e";
}
.icon-right-mini:before {
  content: "f";
}
.icon-right:before {
  content: "g";
}
.icon-left:before {
  content: "h";
}
.icon-tag-white:before {
  content: "i";
}
.icon-tag-black:before {
  content: "j";
}
.icon-comment-black:before {
  content: "k";
}
.icon-star-black:before {
  content: "l";
}
.icon-menu:before {
  content: "m";
}
.icon-like-white:before {
  content: "b";
}
.icon-like-black:before {
  content: "c";
}
